//Variables and maps
$bg-body: #10090b;
$bg-color-input: black;
$txt-color-input: white;
$txt-color-input--active: darken($txt-color-input, 60%);

$color-input-shadow: #22191d;

$color-input-range-bg: #392325;


$color-input-range-btn: #8f5f5c;
$color-input-range-btn--hover: darken($color-input-range-btn, 10%);

$color-input-range-btn--active: lighten($color-input-range-btn, 10%);
$color-input-range-btn--thumb: lighten($color-input-range-btn, 20%);

$color-copy-btn: #8c5d61;
$color-copy-btn--hover: lighten($color-copy-btn, 10%);
$color-copy-btn--active: lighten($color-copy-btn, 20%);

$color-copy-btn-icon--hover: lighten($color-copy-btn , 10%);
$color-copy-btn-icon--active: lighten($color-copy-btn , 20%);


$color-checkboxes: #b78583;

:root {
    --bg-body: #{$bg-body};
    --bg-color-input: #{$bg-color-input};

    --txt-color-input: #{$txt-color-input};
    --txt-color-input--active: #{$txt-color-input--active};

    --color-input-shadow: #{$color-input-shadow};

    --color-input-range-bg:#{$color-input-range-bg};

    --color-input-range-btn:#{$color-input-range-btn};
    --color-input-range-btn--hover: #{$color-input-range-btn--hover};
    --color-input-range-btn--active: #{$color-input-range-btn--active};
    --color-input-range-btn--thumb: #{$color-input-range-btn--thumb};

    --color-copy-btn:#{$color-copy-btn};
    --color-copy-btn--active: #{$color-copy-btn--active};
    --color-copy-btn--hover: #{$color-copy-btn--hover};
    --color-copy-btn-icon--hover: #{$color-copy-btn-icon--hover};
    --color-copy-btn-icon--active: #{$color-copy-btn-icon--active};

    --color-checkboxes:#{$color-checkboxes};

    --color-input-range-btn--hover: #{$color-input-range-btn--hover};



    --bg-selection: orange;
    --color-selection: black;
}


.dark-mode {
    $bg-body: #10090b;
    $bg-color-input: black;
    $txt-color-input: white;
    $txt-color-input--active: darken($txt-color-input, 60%);

    $color-input-shadow: #22191d;

    $color-input-range-bg: #392325;


    $color-input-range-btn: #8f5f5c;
    $color-input-range-btn--hover: darken($color-input-range-btn, 10%);

    $color-input-range-btn--active: lighten($color-input-range-btn, 10%);
    $color-input-range-btn--thumb: lighten($color-input-range-btn, 20%);
    $color-copy-btn: #8c5d61;
    $color-copy-btn--hover: lighten($color-copy-btn, 10%);
    $color-copy-btn--active: lighten($color-copy-btn, 20%);

    $color-copy-btn-icon--hover: lighten($color-copy-btn , 10%);
    $color-copy-btn-icon--active: lighten($color-copy-btn , 20%);

    --bg-body: #{$bg-body};
    --bg-color-input: #{$bg-color-input};

    --txt-color-input: #{$txt-color-input};
    --txt-color-input--active: #{$txt-color-input--active};

    --color-input-shadow: #{$color-input-shadow};

    --color-input-range-bg:#{$color-input-range-bg};

    --color-input-range-btn:#{$color-input-range-btn};
    --color-input-range-btn--hover: #{$color-input-range-btn--hover};
    --color-input-range-btn--active: #{$color-input-range-btn--active};
    --color-input-range-btn--thumb: #{$color-input-range-btn--thumb};

    --color-copy-btn:#{$color-copy-btn};
    --color-copy-btn--active: #{$color-copy-btn--active};
    --color-copy-btn--hover: #{$color-copy-btn--hover};
    --color-copy-btn-icon--hover: #{$color-copy-btn-icon--hover};
    --color-copy-btn-icon--active: #{$color-copy-btn-icon--active};

    --color-checkboxes:#{$color-checkboxes};

    --color-input-range-btn--hover: #{$color-input-range-btn--hover};



    --bg-selection: orange;
    --color-selection: black;
}

.light-mode {
    $bg-body: #eff6f4;
    $bg-color-input: white;
    $txt-color-input: black;
    $txt-color-input--active: lighten($txt-color-input, 60%);
    $color-input-shadow: #dfe6e2;
    $color-input-range-bg: #c5ddda;
    $color-input-range-btn--hover: lighten($color-input-range-btn, 10%);


    $color-input-range-btn--hover: darken($color-input-range-btn, 10%);
    $color-input-range-btn: #70a0a3;
    $color-input-range-btn--hover: lighten($color-input-range-btn, 10%);
    $color-input-range-btn--active: lighten($color-input-range-btn, 10%);
    $color-input-range-btn--thumb: darken($color-input-range-btn, 20%);

    $color-copy-btn: #739f9c;
    $color-copy-btn--hover: darken($color-copy-btn, 10%);
    $color-copy-btn--active: darken($color-copy-btn, 20%);

    $color-copy-btn-icon--hover: lighten($color-copy-btn , 10%);
    $color-copy-btn-icon--active: lighten($color-copy-btn , 20%);

    $color-checkboxes: #4c7c7d;

    --bg-body: #{$bg-body};
    --bg-color-input: #{$bg-color-input};

    --txt-color-input: #{$txt-color-input};
    --txt-color-input--active: #{$txt-color-input--active};

    --color-input-shadow: #{$color-input-shadow};

    --color-input-range-bg:#{$color-input-range-bg};

    --color-input-range-btn:#{$color-input-range-btn};
    --color-input-range-btn--hover: #{$color-input-range-btn--hover};
    --color-input-range-btn--active: #{$color-input-range-btn--active};
    --color-input-range-btn--thumb: #{$color-input-range-btn--thumb};

    --color-copy-btn:#{$color-copy-btn};
    --color-copy-btn--active: #{$color-copy-btn--active};
    --color-copy-btn--hover: #{$color-copy-btn--hover};
    --color-copy-btn-icon--hover: #{$color-copy-btn-icon--hover};
    --color-copy-btn-icon--active: #{$color-copy-btn-icon--active};

    --color-checkboxes:#{$color-checkboxes};

    --color-input-range-btn--hover: #{$color-input-range-btn--hover};

    --bg-selection: blue;
    --color-selection: white;
}

@media (prefers-color-scheme: light) {
    $bg-body: #eff6f4;
    $bg-color-input: white;
    $txt-color-input: black;
    $txt-color-input--active: lighten($txt-color-input, 60%);
    $color-input-shadow: #dfe6e2;
    $color-input-range-bg: #c5ddda;
    $color-input-range-btn--hover: lighten($color-input-range-btn, 10%);


    $color-input-range-btn--hover: darken($color-input-range-btn, 10%);
    $color-input-range-btn: #70a0a3;
    $color-input-range-btn--hover: lighten($color-input-range-btn, 10%);
    $color-input-range-btn--active: lighten($color-input-range-btn, 10%);
    $color-input-range-btn--thumb: darken($color-input-range-btn, 20%);

    $color-copy-btn: #739f9c;
    $color-copy-btn--hover: darken($color-copy-btn, 10%);
    $color-copy-btn--active: darken($color-copy-btn, 20%);

    $color-copy-btn-icon--hover: lighten($color-copy-btn , 10%);
    $color-copy-btn-icon--active: lighten($color-copy-btn , 20%);

    $color-checkboxes: #4c7c7d;

    :root {
        --bg-body: #{$bg-body};
        --bg-color-input: #{$bg-color-input};

        --txt-color-input: #{$txt-color-input};
        --txt-color-input--active: #{$txt-color-input--active};

        --color-input-shadow: #{$color-input-shadow};

        --color-input-range-bg:#{$color-input-range-bg};

        --color-input-range-btn:#{$color-input-range-btn};
        --color-input-range-btn--hover: #{$color-input-range-btn--hover};
        --color-input-range-btn--active: #{$color-input-range-btn--active};
        --color-input-range-btn--thumb: #{$color-input-range-btn--thumb};

        --color-copy-btn:#{$color-copy-btn};
        --color-copy-btn--active: #{$color-copy-btn--active};
        --color-copy-btn--hover: #{$color-copy-btn--hover};
        --color-copy-btn-icon--hover: #{$color-copy-btn-icon--hover};
        --color-copy-btn-icon--active: #{$color-copy-btn-icon--active};

        --color-checkboxes:#{$color-checkboxes};

        --color-input-range-btn--hover: #{$color-input-range-btn--hover};

        --bg-selection: blue;
        --color-selection: white;
    }

}


$breakpoints: (
    mobile: 768px,
    tablet: 992px,
    laptop: 1150px,
    desktop: 1920px
);

//LIGHT MODE
// $bg-body: #eff6f4;
// $bg-color-input: white;
// $txt-color-input: black;
// $color-input-shadow: #dfe6e2;
// $color-input-range-bg: #c5ddda;
// $color-input-range-btn: #70a0a3;
// $color-copy-btn: #739f9c;
// $color-checkboxes: #4c7c7d;

//DARK MODE
// $bg-body: #10090b;
// $bg-color-input: black;
// $txt-color-input: white;
// $color-input-shadow: #22191d;
// $color-input-range-bg: #392325;
// $color-input-range-btn: #8f5f5c;
// $color-copy-btn: #8c5d61;
// $color-checkboxes: #b78583;


*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    min-height: 100vh;
    font-family: Open sans,
        Helvetica,
        sans-serif;
    background-color: var(--bg-body);
    color: var(--txt-color-input);
    transition: color 450ms ease-out, background-color 450ms ease-out;
}



button {
    border: none;

    &:hover {
        cursor: pointer;
    }
}

label {
    &:hover {
        cursor: pointer;
    }
}


//Mixins
@mixin mobile-only {
    @media screen and (max-width: map-get($breakpoints, mobile)) {
        @content;
    }
}

@mixin center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin center-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

//Other
*::selection {
    background-color: var(--bg-selection);
    color: var(--color-selection);
}

::-webkit-scrollbar {
    background-color: var(--color-input-shadow);
    border-radius: 100vmax;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-input-range-btn);
    border-radius: 100vmax;
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-input-range-btn--hover);
}




//Styles

.main {
    @include center-flex-column;
    width: 100%;
    min-height: 100vh;
}


.theme {

    &__container {
        background-color: var(--color-input-range-bg);
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 50px;
    }

    &__buttons>* {
        width: 25px;
        height: 25px;
        border-radius: 5px;
    }
}

.password {

    &__container {
        width: 85%;
        height: 85vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__generated {
        @include center-flex;

        @include mobile-only {
            @include center-flex-column;
            gap: 25px;
        }

        &-text {
            background-color: var(--bg-color-input);
            color: var(--txt-color-input);
            height: 75px;
            width: 70%;
            font-size: 22px;
            padding: 0 10px;
            border-radius: 13px;
            box-shadow:
                0px 5px 8px var(--color-input-shadow), 0px -5px 8px var(--color-input-shadow), //Y axis, up & down
                5px 0px 8px var(--color-input-shadow), -5px 0px 8px var(--color-input-shadow); //X axis, left & right
            border: none;

            @include mobile-only {
                font-size: 16px;
                width: 250px;
            }

            &::placeholder {
                color: var(--txt-color-input--active);
            }
        }

        &-copy {
            background-color: transparent;
            margin-left: 5%;

            &:hover>i {
                cursor: pointer;
                color: var(--color-copy-btn-icon--hover);

            }

            &:active>i {
                color: var(--color-copy-btn-icon--active);
            }

            &>i {
                color: var(--color-copy-btn);
                font-size: 36px;
            }
        }
    }

    &__options {
        @include center-flex-column;
    }

    &__characters-range {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 71%;
        margin: 50px 0;

        @include mobile-only {
            @include center-flex-column;
            gap: 25px;
        }

        &-input {
            @include center-flex;
            appearance: none;
            background-color: var(--color-input-range-bg);
            border-radius: 25px;
            height: 5px;

            width: 210px;

            @include mobile-only {
                width: 250px;
            }


            &::-webkit-slider-runnable-track {
                border-radius: 25px;
                background-color: var(--color-input-range-bg);
                width: 100%;
                height: 10px;
                overflow: hidden;
            }

            &::-webkit-slider-runnable-track:hover {
                cursor: pointer;
            }

            &::-webkit-slider-thumb {
                appearance: none;
                width: 10px;
                height: 10px;
                background-color: var(--color-input-range-btn--thumb);

                border-radius: 100vmax;
                box-shadow: -105px 0px 0px 100px var(--color-input-range-btn);
                transition: background-color 250ms ease-out;

                @include mobile-only {
                    box-shadow: -155px 0px 0px 150px var(--color-input-range-btn);
                }
            }

        }
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 15px; //It's just amazing that you can now add gaps between elements using flexbox

        @include mobile-only {
            gap: 25px;
        }

        &-container {
            display: flex;
            width: 75%;
            justify-content: flex-start;
            align-items: center;
        }

        &-labels {
            width: auto;
        }

        &-input {



            &:checked~.password__checkboxes-input-unchecked {
                display: none !important;
            }

            &:not(:checked)~.password__checkboxes-input-checked {
                display: none !important;
            }


            &-checked {
                border-radius: 1px;
                color: var(--color-checkboxes);
                outline: 2px solid var(--txt-color-input)
            }

            &-unchecked {
                border-radius: 1px;
                color: var(--color-checkboxes);
            }
        }
    }

    &__generate-button-container {

        margin-top: 75px;

        &>button {
            background-color: var(--color-input-range-btn);
            color: var(--txt-color-input);
            padding: 10px;
            font-size: 16px;
            border-radius: 5px;
            transition:
                background-color 150ms ease-out,
                color 150ms ease-out;

            &:hover {
                background-color: var(--color-input-range-btn--hover);
                color: var(--txt-color-input--hover);

            }

            &:active {

                background-color: var(--color-input-range-btn--active);
                color: var(--txt-color-input--active);
            }
        }
    }

}

.show {
    display: block !important;
}

.hide {
    display: none !important;
}